

//- creating my own boilderplate 
doctype
html(lang="en")
  head
    //- to show you're inserting something
    title Merry Christmas
    
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content='width=device-width,initial-scale=1.0')
    meta(name='dscription', content=MetaDesc )
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="mobile-web-app-capable", content="yes")
    link(href='css/style.css',rel='stylesheet',type='text/css')
      
    
  body
          
    div.portrait
      | You've got a greeting card!
      div.small
        | turn your device to the side!
      div.rotate
        img(src="img/rotate.png")
    
    input#toggle(type="checkbox" name="toggle")
    label(for="toggle")
      div.entire

    div.cardcontainer
      div.card
        

      div.postcard
        div.clearfix
          div.message
            h1 Merry Christmas!

            p Hi Jim and Darlene!

            p I Just wanted to take the time to wish you a very merry Christmas and a Happy New Year!
              | I miss you guys a lot and can't wait to spend more time with you and Hannah in Spokane 
              | early next year!

            p wishing you the very best! With Love,
              .signature
                img(src="img/signature.png")
            .seefront Click on me again to see the front

          div.divider
          div.otherhalf
            div.stamp
            div.address
              div.addressname
                | Jim & Darlene
              | 18203 N Lidgerwood Ct.<br>
              | Colbert WA 99005<br>
    
    
    div.spotify 
      //iframe(src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A082VlX7cBth0o8xqDGclNn",view="coverart",width="100",height="180",frameborder="0",allowtransparency="true")
      

        
    
        
    script( src='//code.jquery.com/jquery-1.11.3.min.js')
    script( src='js/main.js')
    
